/*Where do webkits go in the order of CSS items?*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #D0D2D3;
    font-family: "Open Sans", sans-serif;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #D0D2D3;
   font-family: "Open Sans", sans-serif;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #D0D2D3;
   font-family: "Open Sans", sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #D0D2D3;
   font-family: "Open Sans", sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color:    #D0D2D3;
   font-family: "Open Sans", sans-serif;
}

body {
	font-family: "Open Sans", sans-serif;
}

header {
	background-color: #404041;
	text-align: center;
	height: 125px;
}

header h1 {
	display: inline-block;
	font-size: 55px;
	margin-top: 31px;
	width: 35%;
	margin-right: auto;
	margin-left: auto;
	color: #ED458B;
	font-weight: 700;
	text-align: center;
}

span {
	color: #E6E7E8;
	font-weight: 300;
}

input {
	margin-bottom: 25px;
	margin-right: 15px;
	font-size: 23px;
	font-weight: 300;
	padding: 3px;
	border: solid 2px #D0D2D3;
}

section {
	text-align: center;
	width: 33%;
	margin: auto;
}

article {
	width: 100%;
	margin: auto;
	height: 275px;
}

h2 {
	font-size: 150px;
	color: #EB008B;
	font-weight: 300;
}

h3 {
	color: #404041;
	font-weight: 300;
	margin-top: 7px;
	font-size: 20px;
}

form {
	margin-top: 32px;
	display: inline-block;
	width: 100%;
}

.btn {
	background-color: #929497;
	color: #FFFFFF;
	border-radius: 20px;
	width: 40%;
	border: none;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 5px;
	margin-top: 10px;
	font-family: "Open Sans", sans-serif;
}

.btn:hover {
	background-color: #EB008B;
	color: #FFFFFF;
}

.first-box {
	margin-bottom: 75px;
}

.first-input {
	width: 388px;
}

.value-qauntity {
	width: 179px;
}

.instructions {
	width: 385px;
	margin-bottom: 30px;
	margin-left: 38px; 
}

.buttons {
	font-family: "Open Sans", sans-serif;
}

.second-box {
	margin-top: 15px;
	height: 350px;
}

.reset-btn {
	background-color: #929497;
	color: #FFFFFF;
	border-radius: 20px;
	width: 396px;
	border:none;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 40px;
	font-family: "Open Sans", sans-serif;
}

.reset-btn:hover {
	background-color: #EB008B;
	color: #FFFFFF;
}

:disabled {
	background-color: #D0D2D3;
}

:disabled:hover {
	background-color: #D0D2D3;
}
